:root {
    --text: #e7e9e8;
    --background: #101214;
    --background2: #222222;
    --primary: #e5e5e5;
    --secondary: #BCD6F00A;
    --accent: #fca311;

}

* {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.1rem;
    color: var(--text);
}

body {
    height: 100vh;
    margin: 0;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

button {
    background-color: var(--secondary);
    padding: 1em;
    border: none;
    cursor: pointer;
    transition: linear;
}

button:hover {
    background-color: darken(var(--secondary), 10%);
}

button:active {
    transform: scale(0.95);
}

#calculator-body {
    height: 70vh;
    width: 50vh;
    padding: 1rem;
    border-radius: 5px;

    background-color: var(--background2);
    display: flex;
    flex-direction: column;
}

#display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 30%;
    padding: 0 10px;
    outline: .1rem solid var(--background2);
    font-size: 1rem;
    color: var(--background2);
    background-color: var(--primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#calculator-buttons {
    display: flex;
    height: 70%;
    padding: 0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
}

.button {
    display: flex;
    justify-content: center;
    flex-basis: calc(33.33% + 0.001%);
}

.button.number,
.button.functions,
.button.getOperators,
#changeSignBtn,
#addDecimalPoint {
    align-items: center;
}

.operators-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.resultBtn-clearBtn-group {
    display: flex;
}

.button.getOperators,
.button.functions,
#resultBtn {
    flex: 1;
}

#resultBtn {
    background-color: var(--accent);
    flex-grow: 2;
}

#resultBtn:hover {
    mix-blend-mode: difference;
}